<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divine.yang.lib_widget">

    <application>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".demo.SignatureViewDemoActivity"></activity>

    </application>

</manifest>